.x-grid3-col-actions {
	padding: 3px 0 3px 5px;
}

ul.mscdek-row-actions {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.mscdek-row-actions li {
	float: left;
}

ul.mscdek-row-actions .btn {
	padding: 5px;
	margin-right: 2px;
	min-width: 26px;
	font-size: inherit;
}

.mscdek-grid-row-disabled {
	font-style: italic;
	opacity: .6;
	color: #555;
}

.action-red {
	color: darkred !important;
}

.action-green {
	color: darkgreen !important;
}

.action-blue {
	color: cadetblue !important;
}

.action-yellow {
	color: goldenrod !important;
}

.action-gray {
	color: dimgray !important;
}

a.x-menu-item .x-menu-item-text, a.x-menu-item .x-menu-item-text .icon {
	cursor: pointer;
}

a.x-menu-item .x-menu-item-text .icon {
	line-height: 16px;
	top: auto;
}

.x-menu-list .icon {
	min-width: 1em;
	text-align: center;
}

.x-menu-list-item:hover .icon {
	color: inherit !important;
}

/*
ul.mscdek-row-actions .actions-menu {width: 40px;}
ul.mscdek-row-actions .actions-menu:after {content: " \f107";}
*/